<div *ngIf="true" class="col mb-4">
  <a [routerLink]="['/']" routerLinkActive="router-link-active">
    <mat-card class="card-container m-sm-2 mb-3 mx-3">
      <img mat-card-image [src]="product?.image?.sizes[2]?.url" class="img-fluid" [alt]="product?.image?.caption">
      <mat-card-content>
        <span class="d-flex flex-column justify-content-between info mb-3 px-2">
          <p class="text-truncate">{{product?.name}}</p>
          <ng-container *ngIf="product?.maximumPrice===product?.minimumPrice; else priceRange">
            <p class="mb-0 ">{{product?.maximumPriceString}}</p>
          </ng-container>
          <ng-template #priceRange>{{product?.minimumPriceString}} - {{product?.maximumPriceString}}</ng-template>
        </span>
      </mat-card-content>
    </mat-card>
  </a>
</div>


<div *ngIf="false" class="col mb-4">
  <a class="card m-sm-2 mb-3 mx-3 h-100" [routerLink]="['/']" routerLinkActive="router-link-active" >
    <img [src]="product?.image?.sizes[2]?.url" [alt]="product?.image?.caption" class="img-fluid">
    <span class="d-flex flex-column justify-content-between info mb-3 px-2">
      <p class="text-truncate">{{product?.name}}</p>
      <ng-container *ngIf="product?.maximumPrice===product?.minimumPrice; else priceRange">
        <p class="mb-0 ">{{product?.maximumPriceString}}</p>
      </ng-container>
      <ng-template #priceRange>{{product?.minimumPriceString}} - {{product?.maximumPriceString}}</ng-template>
    </span>
  </a>
</div>