<!-- <mat-card class="card-container m-sm-2 mb-3 mx-3">
  <img mat-card-image [src]="product?.image?.sizes[2]?.url" class="img-fluid" [alt]="product?.image?.caption">
  <mat-card-content>
     <mat-card-title>{{product?.name}}</mat-card-title>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->


<div class="card-container m-sm-2 mb-3 mx-3">
  <img [src]="product?.image?.sizes[2]?.url" [alt]="product?.image?.caption" class="img-fluid">
  <p>{{product?.name}}</p>
</div>