<div class="col mb-4 position-relative">
  <a [routerLink]="['details', product?.id]">
    <mat-card class="card-container m-sm-2 mb-3">
      <img mat-card-image [src]="product?.image?.sizes[2]?.url" class="img-fluid" [alt]="product?.image?.caption">
      <mat-card-content>
        <span class="d-flex flex-column justify-content-between info mb-3 px-2">
          <p class="text-truncate">{{product?.name|decodeHtmlString}}</p>
          <ng-container *ngIf="product?.maximumPrice===product?.minimumPrice; else priceRange">
            <p class="font-weight-bold mb-0 ">{{product?.maximumPriceString}}</p>
          </ng-container>
          <ng-template #priceRange>{{product?.minimumPriceString}} - {{product?.maximumPriceString}}</ng-template>
        </span>
      </mat-card-content>
    </mat-card>
  </a>

  <button *ngIf="isFavourite" mat-mini-fab color="gray" class="fav-icon" aria-label="Favourite icon filled" (click)="removeFromFavourite(product)">
    <mat-icon>favorite</mat-icon>
  </button>

  <button *ngIf="!isFavourite" mat-mini-fab color="gray" class="fav-icon" aria-label="Favourite icon border" (click)="addToFavourite(product)">
    <mat-icon>favorite_border</mat-icon>
  </button>
</div>

<!--
<div *ngIf="false" class="col mb-4">
  <a class="mb-3 h-100" [routerLink]="['/']" routerLinkActive="router-link-active" >
    <img [src]="product?.image?.sizes[2]?.url" [alt]="product?.image?.caption" class="img-fluid">
    <span class="d-flex flex-column justify-content-between info mb-3 px-2">
      <p class="text-truncate">{{product?.name}}</p>
      <ng-container *ngIf="product?.maximumPrice===product?.minimumPrice; else priceRange">
        <p class="mb-0 ">{{product?.maximumPriceString}}</p>
      </ng-container>
      <ng-template #priceRange>{{product?.minimumPriceString}} - {{product?.maximumPriceString}}</ng-template>
    </span>
  </a>
</div> -->