.card-container {
  max-width: 85vw;
  max-height: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.info {
  height: 60px;
}

a{
  text-decoration: none;
}

@media screen and (min-width:768px){
  .card-container {
    max-width: 300px;
    max-height: 100%;
  }
}