<form [formGroup]="searchForm" autocomplete="off">
  <!-- <div class="row">
    <div class="input-group col-8">
      <div  *ngIf="!(isHandset$|async)" class="input-group-prepend">
        <select class="custom-select" formControlName="categoryId" placeholder="Select category">
          <option *ngFor="let category of categories" [value]="category?.id">
            {{category?.name}}
          </option>
        </select>
      </div>
      <input type="search" class="form-control" formControlName="searchTerm" placeholder="Search term here....">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
 </div> -->
  <div class="input-group pt-sm-4" style="font-size: 12px">
    <mat-form-field *ngIf="!( isHandset$|async)" appearance="outline" placeholder="Select category..." class="w-25" >
      <mat-select>
        <mat-option *ngFor="let category of categories$|async" [value]="category?.id">
          {{category?.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-75" >
      <input matInput placeholder="Search">
    </mat-form-field>
    <button mat-raised-button color="accent" class="ml-sm-2 w-25">Search</button>
    <!-- <div><button mat-button>Search</button></div> -->
  </div>
</form>
