<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="!(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true"
    [ngClass]="{'hidden': !showCategories}">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>


  <!-- duplicate -->
  <mat-sidenav #rightDrawer position="end"  class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"  [ngClass]="{'hidden': !(isHandset$|async)}">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">test 1</a>
      <a mat-list-item href="#">test 2</a>
      <a mat-list-item href="#">test 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
       <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleFlag(); drawer.toggle() "
        *ngIf="!(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="mr-auto" [routerLink]="['/']">Sankofa</a>
      <ng-container *ngIf="!(isHandset$|async)">
        <!-- <div class="search-input mt-3" style="font-size: 12px">
          <mat-form-field appearance="outline" color="red">
            <input matInput placeholder="Search" role="button" (click)="showSearch(desktopSearch)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div> -->
        <div class="w-50">
          <app-search></app-search>
        </div>
      </ng-container>
      <ng-container *ngIf="isHandset$|async">
        <button mat-icon-button (click)="showSearch(mobileSearch)">
          <mat-icon>search</mat-icon>
        </button>
      </ng-container>
      <span class="ml-auto" *ngIf="!(isHandset$|async)">
        <a role="button" color="primary" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click"
          #popoverTrigger="mdePopoverTrigger">Shop</a>
        <a href="#">Sign in</a>
        <a href="#">Fav</a>
      </span>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="rightDrawer.toggle();"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

      <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <!-- <mat-card style="max-width: 300px">
          <mat-card-content>
            A material design popover component created using Angular version 8 with the Angular CDK.
          </mat-card-content>
        </mat-card> -->
        <span class="p-5">
          <app-category></app-category>
        </span>
      </mde-popover>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #desktopSearch>
  <div *ngTemplateOutlet="search"></div>
</ng-template>

<ng-template #mobileSearch>
  <!-- <h2 mat-dialog-title mat-dialog-close class="text-right mb-1">
    <mat-icon>close</mat-icon>
  </h2>
  <mat-dialog-content>
    <app-search></app-search>
  </mat-dialog-content> -->
  <div *ngTemplateOutlet="search"></div>
</ng-template>

<ng-template #search>
  <h2 mat-dialog-title mat-dialog-close class="text-right mb-1">
    <mat-icon>close</mat-icon>
  </h2>
  <mat-dialog-content>
    <app-search></app-search>
  </mat-dialog-content>
</ng-template>