.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  display: inline-block;
}

.hidden{
  display: none;
}

.mat-toolbar.mat-gray{
  background-color:white;
}
.search-input mat-form-field.mat-form-field{
  color: white;
  // background-color: white;

  // .mat-form-field-appearance-outline{
  //   color: red;
  // }
  /* Border */
// .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: red;
// }
// /* Font color */
// input.mat-input-element {
//   color: green;
// }
}