<div class="container mt-5 pt-3">
  <ng-container *ngIf="product$|async as product">
    <div class="row">
      <div class="col-sm-5">
        <img [src]="product?.image?.sizes[2]?.url" alt="" class="img-fluid">
      </div>
      <div class="col-sm-6">
        <div class="p-3">
          <p>{{product?.catalogName|uppercase}}</p>
          <p>{{product?.name|decodeHtmlString}}</p>
          <!-- <small>Product code: {{product?.id}}</small> -->
         <span *ngIf="+product?.reviewData?.count" class="d-flex align-items-center">
           <!-- <span class="pr-2">{{product?.reviewData?.rating}}</span> -->
            <star-rating [value]="product?.reviewData?.rating" [totalstars]="5" checkedcolor="gold" uncheckedcolor="gray" size="24px"
              readonly="true">
            </star-rating>
            <ng-container >({{product?.reviewData?.count}})</ng-container>
         </span>
          <div class="mt-5">
            <ng-container *ngIf="product?.options?.length > 1; else price">
              <p>Size:</p>
              <div class="w-50 mb-3">
                <select class="custom-select">
                  <option *ngFor="let option of product?.options" [value]="option?.price">
                    <ng-container *ngIf="option?.name">{{option?.name}} - </ng-container>{{option?.priceString}}
                  </option>
                </select>
              </div>
            </ng-container>
            <ng-template #price>
              <p>{{product?.options[0]?.priceString}}</p>
              <!-- <span> /{{product?.options[0]?.ciPoints}} points</span> -->
            </ng-template>
          </div>
          <div class="my-3">
            <a role="button" mat-stroked-button [href]="product?.referralPageUrl" target="_blank"
              rel="noopener noreferrer">Visit Partner Store <mat-icon>launch</mat-icon></a>
          </div>
          <div class="see-more">
            <p>{{product?.shortDescription|decodeHtmlString}}</p>
            <a role="button" class="btn btn-link pl-0 pt-0 " (click)="scrollTo(info)"> See details</a>
          </div>
        </div>
      </div>
    </div>
    <section class="col my-3" #info>
      <h1 class="text-center">Product Information</h1>
      <p>{{product?.description|removeHtmlTags|decodeHtmlString}}</p>
    </section>
  </ng-container>
</div>